.logo-big-icon3 {
  position: absolute;
  top: 210px;
  left: 84px;
  width: 548px;
  height: 434.3px;
  object-fit: cover;
}
.container2 {
  position: absolute;
  top: 203px;
  left: 766px;
  border-radius: 20px;
  background-color: #efe9e9;
  width: 588px;
  height: 441px;
}
.sign-up {
  margin: 0;
  position: absolute;
  top: 122px;
  left: 971px;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
}
.signup-button-company,
.signup-button-user {
  width: 468px;
  position: absolute;
  top: 288px;
  left: 826px;
  cursor: pointer;
}
.signup-button-company {
  top: 395px;
}
.log-in2 {
  font-weight: 700;
}
.already-have-an-container2 {
  position: absolute;
  top: 502px;
  left: 910px;
  font-size: 20px;
  color: #000;
  cursor: pointer;
  font-family: "Inria Serif";
}
.signup {
  position: relative;
  background-color: #fff;
  width: 100%;
  height: 1024px;
  overflow: hidden;
  text-align: left;
  font-size: 40px;
  color: #01a98c;
  font-family: "Inknut Antiqua";
}
